html, body{
  padding: 0;
  margin: 0;
}
.container{
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}

.question{
  font-size: 80px;
  height: 150px;
  line-height: 150px;
  text-align: right;
  font-weight: bold;
}
.answer{
  font-size: 50px;
  height: 150px;
  line-height: 150px;
}
.answer input{
  max-width: 150px;
  display: inline;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  border: none;
  outline: none;
  border-bottom: 3px solid #13CE66;
  border-radius: 0;
}
.pull-right{
  float: right;
}

.center{
  text-align: center;
}
.right{
  text-align: right;
}
.txt-success{
  color: #13CE66;
}
.txt-error{
  color: #FF4949;
}